# .NET build artifacts
bin/
obj/
.vs

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code settings
.vscode/

# Configuration files
appsettings.json
appsettings.Development.json
appsettings.*.json

# Others
*.log
.env





https://secure.cuzdan.az/payment/wr/5273BC8A82E417FD18F1314DC8FAFD7E476C19AFB63FB9E69636FA03

Bankiniz sizden elave komissiya tuta biler. Xahis edirik nezere alasiniz.
https://secure.cuzdan.az/payment/wr/5273BC8A82E417FD18F1314DC8FAFD7E476C19AFB63FB9E69636FA03